{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font text-green mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-green rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-green rounded-0"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="remove-item text-danger float-right" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-orange rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-green rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-orange rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_buttons_script.html' %}
<script type="text/javascript">
    
    $(document).ready(function() {
        // Increment quantity on click
        $(document).on('click', '.increment-qty', function(event) {
            event.preventDefault();
            updateQuantity($(this), 1);
        });

        // Decrement quantity on click
        $(document).on('click', '.decrement-qty', function(event) {
            event.preventDefault();
            updateQuantity($(this), -1);
        });

        // Remove item and reload on click
        $(document).on('click', '.remove-item', function() {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('_')[1];
            var url = `/bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken};
            $.post(url, data)
                .done(function() {
                    location.reload();
                });
        });

        // Combine both functions into one
        function updateQuantity(button, change) {
            var itemId = button.data('item_id');
            var inputField = $('#id_qty_' + itemId);
            var currentQuantity = parseInt(inputField.val());

            // Calculate the new quantity based on increment or decrement
            var newQuantity = currentQuantity + (change > 0 ? 1 : -1);

            // Ensure the new quantity is within the valid range
            if (newQuantity >= inputField.attr('min') && newQuantity <= inputField.attr('max')) {
                inputField.val(newQuantity);

                // Calculate and update the subtotal for this item
                var productPrice = parseFloat('{{ item.product.price }}');
                var subtotal = (productPrice * newQuantity).toFixed(2);
                $('#subtotal_' + itemId).text('£' + subtotal);

                // Submit the form to update the quantity
                button.closest('form').submit();

                // handle enabler disable
                var itemId = $(this).data('item_id');
                handleEnableDisable(itemId);

                // Recalculate and update the bag total
                recalculateBagTotal();
            }
        }

        function recalculateBagTotal() {
            var total = 0;
            $('.subtotal').each(function() {
                total += parseFloat($(this).text().replace('£', ''));
            });
            $('#bag-total').text('£' + total.toFixed(2));
        }

    });
</script>
{% endblock %}
