<div id="back-to-top" class="btt-button shadow-sm rounded-0 border border-black" style="display: none;">
    <a  href="#" class="btt-link d-flex h-100" aria-label="Back to Top">
        <!-- Icon for back to top -->
        <i class="fas fa-arrow-up text-green mx-auto my-auto"></i>
    </a>    
</div>

<script>
    $(document).ready(function() {
        // Show or hide the back to top button based on scroll position
        $(window).scroll(function() {
            if ($(this).scrollTop() > 100) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });

        // Scroll to top functionality
        $('#back-to-top').click(function(e) {
            e.preventDefault();
            // Ensure smooth scrolling for all browsers
            $('html, body').animate({scrollTop: 0}, 600);
        });
    });
</script>